<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" class="textFont">MovieFlix</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="#/movielist"><span class="glyphicon glyphicon-search"></span> Search Movies and TV Shows</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="textFont"><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
    </div>
</nav>
</body>
</html>